@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
  }

  p {
    color: #fff;
  }

}

p {
  background-color: yellow;
}

p:first-letter {
  font-size: 2em;
  background-color: aqua;
}