@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
  }

  p {
    color: #fff;
  }

}

body {
  background-color: aqua;
}

div {
  background-color: white;
}

p {
  background-color: yellow;
}